@font-face {
  font-family: "iconfont"; /* Project id 3714507 */
  src: url('//at.alicdn.com/t/c/font_3714507_1rbs34m0lb1.woff2?t=1675679205492') format('woff2'),
       url('//at.alicdn.com/t/c/font_3714507_1rbs34m0lb1.woff?t=1675679205492') format('woff'),
       url('//at.alicdn.com/t/c/font_3714507_1rbs34m0lb1.ttf?t=1675679205492') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rss:before {
  content: "\ea03";
}

.icon-github:before {
  content: "\e63a";
}

.icon-QQ:before {
  content: "\e65e";
}

.icon-youxiang:before {
  content: "\e626";
}

.icon-csdn:before {
  content: "\e638";
}

.icon-shejiaotubiao-46:before {
  content: "\e64b";
}