/* 修改导航栏靠右的设置使其居中 */

#nav-right{
    flex:1 1 auto;
    justify-content: flex-end;
    margin-left: auto;
    display: flex;
    flex-wrap:nowrap;
}

/* 作者: Ariasaka
链接: https://yisous.xyz/posts/895003b5/
来源: Ariasakaの小窝
著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。 */