/* Inject in _config.yml */

#recent-posts > .recent-post-item{
    height: 12em!important;
}

#nav-right{
	flex: 1 1 auto!important;
    flex-wrap: nowrap!important;
    display: flex!important;
    justify-content: flex-end!important;
}

